@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

p, .about-description, .meet-traveler-description, .offerings-subtitle, .featured-subtitle, .discover-story-description, .your-journey-subtitle, .trusted-partners-description, .footer-link, .footer-copyright {
  font-family: 'Poppins', sans-serif !important;
}


.commonHeading{
  font-size: 30px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
}